{% extends "base.html" %}

{% block title %}Admin - Delete Job{% endblock %}

{% block content %}



<h1 class="lead" style="margin-bottom: 50px; font-size: xx-large;"> <b> Delete Job </b></h1>


<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Title</th>
        <th scope="col">Location</th>
        <th scope="col">Action</th>
      </tr>
    </thead>

    {% for job in jobs %} 

    <tbody>
      <tr>
        <th scope="row">{{job.id}}</th>
        <td>{{job.title}}</td>
        <td>{{job['location']}}</td>
        <td>
            <form onsubmit="myFunction()" action="/jobdeleted/{{job.id}}" method="post">
            <button id="deleteBtn" type="submit" class="btn btn-danger">Delete</button>
            </form>
        </td>
      </tr>
    </tbody>
    {% endfor %}

</table>

<div style="padding-bottom: 20px;" >

</div>


<script>
  function myFunction() {
    alert("The Job was deleted");
    location.reload();

  }
  </script>
  
  

{% endblock %}
