{% extends "base.html" %}


{% block title %}Admin - Operations{% endblock %}

{% block content %}


<div class="row row-cols-1 row-cols-md-2 g-4 mt-3 ">
  <a href="/addjob">  
  <div class="col" >
      <div class=" btn btn-secondary" >
        <img src="static/add.png" style="width:27%; margin-left: auto; margin-right: auto;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Add Job</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in </p>
        </div>
      </div>
    </div>
  </a>
  <a href="/deletejob">
    <div class="col">
      <div class=" btn btn-secondary">
        <img src="static/delete.png" style=" width:27%;margin-left: auto; margin-right: auto;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Delete Job</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in </p>
        </div>
      </div>
    </div>
  </a>
    <div class="col">
      <div class=" btn btn-secondary">
        <img src="static/refresh.png" style=" width:27%;margin-left: auto; margin-right: auto;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Update Job</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in </p>
        </div>
      </div>
    </div>
    <a href="/viewapplications">
    <div class="col">
      <div class=" btn  btn-secondary">
        <img src="static/file.png" style=" width:27%; margin-left: auto; margin-right: auto;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">View Applications</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in </p>
        </div>
      </div>
    </div>
    </a>
  </div>
 

{% endblock %}